<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluación </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

            <div class="navbar-brand">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Evaluación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @Html.Partial("_PartilMenu")

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <div style="margin-left:50px; margin-right:50px; margin-bottom: 70px;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            @RenderBody()

        </div>

    }
    else
    {
        <br />
        <br>
        <div style="margin-left:50px; margin-right:50px;">
            @RenderBody()
        </div>
    }

    <footer class="fixed-bottom" style="background:white; width: 94%; left: 3%;">
        <hr />
        <p>&copy; @DateTime.Now.Year - Evaluación</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/LUX.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
