@model Evaluacion.Models.Resultado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pregunta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.CuentaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.CuentaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRespuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRespuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respuesta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
