@model IEnumerable<Evaluacion.Models.Resultado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pregunta.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.CuentaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRespuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(r=>r.FechaRespuesta)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pregunta.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.CuentaUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRespuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
